*{
	font-family: 'Roboto', sans-serif;
	color: #333333;
	margin: 0;
	padding: 0;
}
body{
	background: #f1f1f1;

}
.container{
	background: #ffffff;
	padding: 10px;
	width: 70%;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
form{
	width: 70%;
	margin: 0 auto;
}

.container h2{
	text-align: center;
	font-weight: 500;
	font-size: 1.7em;
}

.singleItem{
	margin: 2px;
	display: flex;
	justify-content: space-between;
	margin: 10px;
	flex-shrink: 1;
	flex-wrap: wrap;

}

.singleItem label{
	text-align: left;
	align-self: center;
	width: 30%;
}

.singleItem .subItem{
	background: white;
	flex-grow: 1;
	flex-wrap: wrap;
	flex-shrink: 1;
}


input,select{
	padding: 8px;
	border: 0px ;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-sizing: border-box;
	border: none;
}
input:focus, select:focus{
	outline: none;
	box-shadow: 0px 0px 1px 1px #0072bc;
}


.formButton{
	display: flex;
	justify-content: flex-end;
}

.btn{
	margin: 10px;
	background: #0072bc;
	border-radius: 5px;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
}



@media screen  and (max-width:680px) {
	.container{
		width: 100%;
	}
	form{
		width: 100%;
	}
	.container h2{
		font-size: 1.4em;
	}
	.singleItem{
		margin: 20px 0;
	}
	.singleItem label{
		width: 100%;
	}
	.singleItem .subItem{
		width: 100%;
	}
}
