/* Nav bar styles */
nav{
  background: #563d7c;
  color: #fff;
  padding: 10px;
  padding-left: 50px;
}
.nav-item,.nav-link{
  color: #fff;
}
.nav-link:hover{
  color: #eee;
}
/*

/* Table styles */
/* table{
  width: 90%;
  margin: 30px auto;
}
thead{
  background: #fff;
  box-shadow: 0 1px 10px rgba(0,0,0,0.4);
}
td{


}
td,th{
  padding: 5px;
}
tbody tr{
  background: #eee;
}
tbody tr:nth-child(even){
  background: #fff;
} */
